.preloader {
    top: -1%;
    height: 102%;
    position: fixed;
    z-index: 99999;
}

.preloader,
.preloader-line {
    left: 0;
    width: 100%;
    overflow: hidden
}

.preloader-line {
    position: absolute;
    top: 0;
    height: 33.5%
}

.preloader-line div {
    width: 100%;
    height: 100%;
    background: #000
}

.preloader-line:nth-child(2) {
    top: 33.3%
}

.preloader-line:nth-child(3) {
    top: 66.6%
}

.preloader-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    max-width: 450px;
    padding: 15px;
    transform: translate(-50% , -50%);
    /*width: 13.675rem;
    height: 2.6375rem;
    *//*margin: -1.31875rem 0 0 -6.8375rem;
    */
    /* overflow: hidden; */
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
}
.preloader-logo svg {
    width: 100%;
    overflow: unset;
    opacity: 0;
}


.preloader-logo svg .big-text-ic path {
    stroke-width: 0.5px;
    stroke: #fff;
}

.preloader-logo svg .ic-img path {
    transform-origin: 50%

}

#page-header.ph-center .ph-caption {
    text-align: left;
}
#page-header.ph-center .ph-caption .text-or {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
}

.services-grid .item {
    text-align: center;
    padding: 30px 20px 10px;
    // border-radius: 20px;
    width: 100%;
    &.hover {
        background-color: var(--tt-main-color);
        color: #fff;
        transition: all ease 0.2s;
        svg path {
            fill: #fff;
        }
    }
}
.services-grid .item h5 {
    text-transform: uppercase;
    font-size: 20px;
}
.services-grid .item svg {
    height: 50px;
}
.services-grid .item svg path {
    fill: #333;
}