body.tt-ph-visible #tt-header {
  background-color: transparent;
}

body.tt-ph-visible #tt-header .tt-logo-light {
  display: block !important;
}

body.tt-ph-visible #tt-header .tt-logo-dark {
  display: none !important;
}

body.tt-ph-visible #tt-header a {
  color: #fff;
}

body.tt-ph-visible #tt-header::before {
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

body:not(.tt-light-bg-on):not(.ph-bg-image-on) .tt-sd-arrow-inner, body:not(.tt-light-bg-on):not(.ph-bg-image-on) .tt-sd-arrow::before, body:not(.tt-light-bg-on):not(.ph-bg-image-on) .tt-sd-arrow::after {
  background-color: white;
}

.tt-np-title {
  color: #fff !important;
}

.tt-np-title a {
  color: #fff !important;
}

.tt-np-subtitle, body:not(.tt-light-bg-on):not(.ph-bg-image-on) .tt-sd-text {
  color: #fff !important;
}

#tt-header .tt-logo-light {
  display: none !important;
}

#tt-header .tt-logo-dark {
  display: block !important;
}

#tt-header::before {
  z-index: -1;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
}

#tt-header a {
  color: #111;
}

.text-stroke-light {
  -webkit-text-stroke-color: #cbae75;
}

.text-or {
  color: #cbae75;
}

#page-header.ph-cap-lg .ph-caption-title {
  font-size: clamp(38px, 6vw, 80px);
}

.tt-btn-link > *, .tt-btn-link > *::after,
#tt-footer a,
#tt-footer .footer-social,
#tt-footer .tt-copyright.text-gray .tt-btn-link > *,
.tt-btn-link:hover > *, .tt-btn-link:hover > *::after {
  color: #111;
}

.section-img-scroll {
  position: relative;
  background-color: #212021;
  padding: 80px 0;
  padding-bottom: 30px;
}

.section-img-scroll .thumb-img {
  margin-bottom: 50px;
}

.section-img-scroll .text-sticky {
  width: 100%;
  text-align: center;
  z-index: 999;
  position: absolute;
}

.section-img-scroll .text-sticky .tt-heading {
  max-width: 900px;
  padding: 0 20px;
  margin: auto;
}

.section-img-scroll .text-sticky .tt-heading .tt-heading-title {
  font-size: calc(100px + 2vw);
  color: #fff;
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .section-img-scroll .text-sticky .tt-heading .tt-heading-title {
    font-size: calc(50px + 2vw);
  }
}

.service-box {
  position: relative;
}

.service-box .border-ani span {
  position: absolute;
  background-color: var(--tt-main-color);
  -webkit-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
}

.service-box .border-ani span:nth-of-type(1) {
  width: 100%;
  top: 0;
  left: 0;
  height: 2px;
  -webkit-animation: border-ani 5s infinite;
          animation: border-ani 5s infinite;
}

.service-box .border-ani span:nth-of-type(2) {
  height: 100%;
  width: 2px;
  top: 0;
  right: 0;
  -webkit-animation: border-ani-2 5s infinite;
          animation: border-ani-2 5s infinite;
}

.service-box .border-ani span:nth-of-type(3) {
  width: 100%;
  bottom: 0;
  left: 0;
  height: 2px;
  -webkit-animation: border-ani-3 5s infinite;
          animation: border-ani-3 5s infinite;
}

.service-box .border-ani span:nth-of-type(4) {
  height: 100%;
  width: 2px;
  top: 0;
  left: 0;
  -webkit-animation: border-ani-4 5s infinite;
          animation: border-ani-4 5s infinite;
}

.service-box:hover .border-ani span {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes border-ani {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  50% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  50.1% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
}

@keyframes border-ani {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  50% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  50.1% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
}

@-webkit-keyframes border-ani-2 {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  50% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  50.1% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
}

@keyframes border-ani-2 {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  50% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  50.1% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
}

@-webkit-keyframes border-ani-3 {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  50% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  50.1% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
}

@keyframes border-ani-3 {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  50% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  50.1% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
}

@-webkit-keyframes border-ani-4 {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
  50% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
  50.1% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}

@keyframes border-ani-4 {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
  50% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
  50.1% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}

.logo-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {
  .logo-footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.logo-footer img {
  -o-object-position: left;
     object-position: left;
  max-height: 48px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 1024px) {
  .logo-footer img {
    -o-object-position: center;
       object-position: center;
  }
}

@media screen and (max-width: 1024px) {
  .menu-footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu-footer .tt-row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu-footer .tt-row .footer-col {
    padding: 0 15px;
  }
}

.menu-footer .menu-footer-link h4 {
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
}

.menu-footer .menu-footer-link p {
  margin-bottom: 0;
}

.menu-footer .menu-footer-link a {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.menu-footer .menu-footer-link a:hover {
  color: #f26522 !important;
}

.menu-link-phone-email .tt-row {
  width: 100%;
  border: 1px solid #212021;
  border-width: 1px 0px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.menu-link-phone-email .tt-row .footer-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 0px;
  padding-left: 30px;
}

@media screen and (max-width: 1024px) {
  .menu-link-phone-email .tt-row .footer-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (max-width: 768px) {
  .menu-link-phone-email .tt-row .footer-col {
    padding: 20px;
    width: 100%;
    padding-right: 30px;
    padding-left: 0;
  }
}

.menu-link-phone-email .tt-row .footer-col:first-child {
  padding-right: 30px;
  padding-left: 0;
  border-right: 1px solid #212021;
}

@media screen and (max-width: 768px) {
  .menu-link-phone-email .tt-row .footer-col:first-child {
    border-right: unset;
    border-bottom: 1px solid #212021;
  }
}

.menu-link-phone-email .tt-row .footer-col .link-a a {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  font-size: 24px !important;
}

@media screen and (max-width: 575.82px) {
  .menu-link-phone-email .tt-row .footer-col .link-a a {
    font-size: 18px !important;
  }
}

.menu-link-phone-email .tt-row .footer-col .link-a a:hover {
  color: #f26522 !important;
}

.tt-portfolio-slider .content {
  padding: 25px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=custom.css.map */